body{
    font-family: 'Poppins', sans-serif  ;
    margin: 0;
/* section 01    */
}
.one-color{
    color: orangered;
}
h1{
    font-size: 50px;
    color: gray;
}
p{
    font-weight: 400;
}
.flexible-container{
    display: flex;
    padding: 50px;  
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    font-weight: 700;
    padding: 10px 20px ;
    color: white;
}
/* section 01    */